@import 'tailwindcss';

html,
body {
  width: 100vw;
  height: 100%;
  touch-action: none;
}

.bg-main-black {
  background-color: rgb(19, 23, 28);
}
.text-main-orange {
  color: rgb(235, 81, 48);
}
.bg-main-orange {
  background-color: rgb(235, 81, 48);
}
.border-main-orange {
  border-color: rgb(235, 81, 48);
}
.border-main-brown {
  border-color: #a65344;
}
.text-main-white {
  color: white;
}
.bg-dark-gray {
  background-color: #303030;
}
.bg-image {
  background-image: url('https://unicorn-images.b-cdn.net/72f7b330-7a6c-4d79-8fde-e56a12117227?optimizer=gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.transition-2s {
  transition: 2s all;
}
